[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==2.3.9"
"asn1crypto" = "==0.24.0"
attrs = "==17.4.0"
autobahn = "==18.3.1"
certifi = "==2018.1.18"
cffi = "==1.11.5"
chardet = "==3.0.4"
configobj = "==5.0.6"
constantly = "==15.1.0"
crawler = "==0.0.2"
creepy = "==0.1.6"
cryptography = "==2.1.4"
dateparser = "==0.7.0"
dominate = "==2.3.1"
flickrapi = "==2.3.1"
google-api-python-client = "==1.6.5"
"httplib2" = "==0.10.3"
hyperlink = "==18.0.0"
idna = "==2.6"
incremental = "==17.5.0"
kiwisolver = "==1.0.1"
matplotlib = "==2.2.0"
multidict = "==4.0.0"
numpy = "==1.14.3"
"oauth2client" = "==4.1.2"
oauthlib = "==2.0.6"
pandas = "==0.22.0"
poloniex = "==0.0.17"
"pyasn1" = "==0.4.2"
"pyasn1-modules" = "==0.2.1"
pycosat = "==0.6.3"
pycparser = "==2.18"
pyparsing = "==2.2.0"
python-binance = "==0.6.9"
python-dateutil = "==2.7.0"
python-instagram = "==1.3.2"
python-qt = "==0.50"
pytz = "==2018.3"
regex = "==2018.2.21"
requests = "==2.18.4"
requests-oauthlib = "==0.8.0"
requests-toolbelt = "==0.8.0"
rsa = "==4.1"
simplejson = "==3.13.2"
six = "==1.11.0"
tweepy = "==3.5.0"
txaio = "==2.9.0"
tzlocal = "==1.5.1"
uritemplate = "==3.0.0"
"urllib3" = "==1.22"
wincertstore = "==0.2"
yarl = "==1.1.0"
"zope.interface" = "==4.4.3"
async_timeout = "==2.0.0"
Automat = "==0.6.0"
Cycler = "==0.10.0"
pyOpenSSL = "==17.5.0"
service_identity = "==17.0.0"
Twisted = "==17.9.0"
Yapsy = "==1.11.223"
update = "*"
"psycopg2" = "*"
tensorflow-gpu = "*"

[dev-packages]
numpy = "*"

[requires]
python_version = "3.6"
